body {
  font-family:Arial,sans-serif,
  color: #333;
  background-color: #f9f9f9;
  margin:0;
  padding:0;
  line-height: 1.6;
}
header {
    backgound-color: #4CAF50;
    color:blue;
    padding:20px;
    text-align:center
  }
header h1 {
    margin: 0;
  }
nav a {
  color:blue;
  text-decoration: none;
  margin: 0 10px;
}
